.containersk {
  position: relative;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  max-height: 400px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  bottom: 30%;
  width: 80%;
  color: white;
  font-size: 20px;
  padding: 5%;
  text-align: center;
  bottom: 10%;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  /* margin-top: 5%;
  margin-bottom: 5%; */
  margin-right: auto;
  border-radius: 25px;
  /* background-color: rgba(33, 37, 41, 0.5); */
}

.btn {
  border-radius: 15px !important;
  padding: 0.375rem 3.75rem !important;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid rgba(0, 0, 0, 1) !important;
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
}

/* a:hover {
  color: black !important;
} */

.dropdown-menu-dark {
  left: -68px;
}